* {
  margin: 0;
  padding: 0;
  border: none;
  color: #e3e3e3;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/abstract-02.jpg");
  background-size: cover;
  /* background-color: antiquewhite; */

  height: 100vh;
}

.shape {
  width: 21rem;
  height: 30rem;
  border-radius: 1.2rem;
  overflow: hidden;
  border: #92929252 1.8px solid;
  backdrop-filter: blur(40px);
  box-shadow: 1rem 1rem 4rem #000000a5;
}

.display {
  width: 21rem;
}

.display-bt {
  pointer-events: none;
  font-size: 4rem;
  background-color: #1a1617b5;
  width: 21rem;
  height: 8rem;
  text-align: right;
  padding: 1.5rem;
  font-weight: 200;
}

.display-bt::placeholder {
  color: #e3e3e3;
}

.calc-btns {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  border: 1.3px rgba(0, 0, 0, 0.357) solid;
  width: 25%;
  height: 4.4rem;
  transition: 0.05s ease-out;
}

.zero {
  width: 50%;
}

.btn-number,
.btn-point {
  background-color: #646061be;
}

.btn-operator {
  background-color: #ffa008;
  font-size: 2.5rem;
  display: flex;
}

.material-symbols-outlined {
  font-size: 2rem;
}

.btn-action {
  background-color: #464041c3;
  font-size: 1.5rem;
}

.btn-number:active,
.btn-point:active {
  background-color: #bbb3b4ba;
}

.btn-operator:active {
  background-color: #c27e11;
}

.btn-action:active {
  background-color: #646061be;
}
